@import url('https://fonts.googleapis.com/css?family=Sriracha:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700');


/*-------------------------------------------------------------main header*/
body {
    font-family: Lato;
    color: #5f5b5b;
}

header {
     height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 5px 0px black;
}

#logo {
    margin-left: 20px;
    font-size: 200%;
    font-family: Sriracha;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #1ab3c7;
}



/*--------------------------------------------------nav*/

#nav {
    font-size: 100%;
    letter-spacing: 4px;
    list-style-type: none;   
}




#nav li {
    float: right;
    margin: 30px 20px 0 0;
}

#nav a {
    text-decoration: none;
    color:#1ab3c7;
    
}

#nav a:hover {
    border-bottom: 4px solid  #1ab3c7;
}

.active {
  border-bottom: 4px solid #1ab3c7;  
}



/*-----------------------------------------------------------hero-image*/

#hero-image{
    height: 450px;
    width: 100%;
    background: url("https://res.cloudinary.com/grohealth/image/upload/$wpsize_!_cld_full!,w_2560,h_1920,c_scale/v1588106919/action-athlete-blue-863988-scaled.jpg") no-repeat left center;
}


#hero-container {
    padding-top:  6px;
     height: 450px;
    width: 100%;
    overflow: hidden;
}


/*--------------------------------------------------------------------------qualification*/

#intro-heading {
    text-align: center;
    margin: 50px 0;
    font-size: 200%;
}

.bg-color { 
    background-color:#1ab3c7;
    width: 100%;
}

h2 {
     font-family: Sriracha;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff
}

#right-text1 #right-text2 {
    display: flex;
    align-content: center;
    justify-content: center;
    
}


 


hr {
    border: 1px solid #1ab3c7;
}



.circle-border {
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
    padding: 30px;
    border: 1px solid #1ab3c7;
    border-radius: 50%;
    margin: 0 auto;
}





.circle-border img {
    margin: -20px 70px 0px -15px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
}










/*-----------------------------------------------------------picture with locations*/

#dates {
    background: url(https://d1s9j44aio5gjs.cloudfront.net/2015/12/Core_Skills_For_Swimming_Learn_to_Swim.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

#dates div {
    font-family: Lato;
    color: #ffffff;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
    margin: 2px;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*--------------------------------------------------------------------footer - code institute*/

.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

.row-footer {
    width: 100%;
    text-align: center;
    background-color: #000;
}

.card-details {
    color: #fff;
    font-size: 40px;
}

.card-details span {
    color: #8f8f8f;
    font-weight: 300;
}



social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    margin-top: 15px;
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social-links li a i:hover {
    background: #339FC2;

}




/*--------------------------------------------------------Our team proflies*/
#main-image {
    background: url("https://www.pendleleisuretrust.co.uk/images/pages/hero/36.jpg") no-repeat center center;
    height: 450px;
    width: 100%;
}

#main-container {
    padding-top: 6px;
     height: 450px;
    width: 100%;
    overflow: hidden;
}

#about-us p {
    font-size: 20px;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 100px;
    
}

#tick-sheet h4 {
    margin-left: 140px;
    margin-top: 80px;
}    

#tick-sheet ul {
  list-style: none;
  margin-left: 100px;
  font-size: 20px;
}

#tick-sheet ul li:before {   /*------------------------------------------stack overflow*/
  content: '✓';
  color: #1ab3c7;
  font-size: 25px;
}

#coming-soon {
    margin-top: 55px;
    height: 100px;
    text-align: center;
}

/*--------------------------------------------------------------------gallery*/

#photos {
    padding-top:  6px;
    clear: both;
    column-count: 3;
    column-gap: 10px;
    background-color:  #1ab3c7;
}

#photos img {
    width: 100%;
}

/* -----------------------------------------------------------------form*/

/* form */

#form-container {
    padding-top: 6px;
}

.form-section {
    background: url(https://res.cloudinary.com/grohealth/image/upload/$wpsize_!_cld_full!,w_2560,h_1920,c_scale/v1588106919/action-athlete-blue-863988-scaled.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
  margin-top: 150px;
  color: #fff;
  background-color: rgba(60, 60, 60, 0.6);
  max-width: 400px;
  position: absolute;
  left: 10%;
  padding: 30px 30px 30px 30px;
}

.signup-form h2 {
  color: #fff;
  margin-bottom: 20px;
}


.text-input {
  background: transparent;
  color: #fff;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid #fff;
  border-radius: 2px;
}

.text-input:hover {
  border-color: #1ab3c7;
}





/*end form*/


/*----------------------------------------------------------different devices*/

@media screen and (max-width: 1100px) {

    

}

    @media screen and (max-width: 800px) {
        
    }

      

