@import url('https://fonts.googleapis.com/css?family=Sriracha:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700');

* {
    /*margin: 0;
    padding: 0;
    border: 0;*/
}
/*-------------------------------------------------------------main header*/
body {
    font-family: Lato;
    color: #5f5b5b;
}

header {
    height: 80px;
}

#logo {
    float:  left;
    font-size: 200%;
    margin: 10px 0 0 20px;
    font-family: Sriracha;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #1ab3c7;
}

/*--------------------------------------------------nav*/

#nav {
    font-size: 100%;
    letter-spacing: 4px;
    list-style-type: none;   
}

#logo, #menu {
    line-height: 24px;
}

#nav li {
    float: right;
    margin: 10px 20px 0 0;
    
}

#nav a {
    text-decoration: none;
    color:#1ab3c7;
}

#nav a:hover {
    border-bottom: 1px solid #2a08ec;
}

.active {
  border-bottom: 1px solid #2a08ec;  
}



/*-----------------------------------------------------------hero-image*/

#hero-image1{
    height: 450px;
    width: 100%;
    background: url(https://res.cloudinary.com/grohealth/image/upload/$wpsize_!_cld_full!,w_2560,h_1920,c_scale/v1588106919/action-athlete-blue-863988-scaled.jpg) no-repeat left center;
    
    animation-name: hero-overlap;
    animation-duration: 50s;
    animation-iteration-count: infinite;
}


#hero-container {
     height: 450px;
    width: 100%;
    overflow: hidden;
}
/*
@keyframes hero-overlap {
    
    0% {
        background: url(https://res.cloudinary.com/grohealth/image/upload/$wpsize_!_cld_full!,w_2560,h_1920,c_scale/v1588106919/action-athlete-blue-863988-scaled.jpg) no-repeat left center;
        
    }

    25% {
        background: url(https://www.ashfordleisuretrust.co.uk/images/made/uploads/activity/shutterstock_227193361.jpg_cropped_2_1078_375_s_c1.jpg) no-repeat right center;
        
        
    }

    50% {
        background: url(https://www.mxtswimschool.com/sites/mxtswimschool.com/files/styles/large/public/field/image/IMG_7521%20for%20documents.jpg?itok=rHEP2-fK) no-repeat center center;
        
    }

    100% {
        background: url(https://res.cloudinary.com/grohealth/image/upload/$wpsize_!_cld_full!,w_2560,h_1920,c_scale/v1588106919/action-athlete-blue-863988-scaled.jpg) no-repeat left center;
        
    }
}*/

/*--------------------------------------------------------------------------qualification*/

#qualification {
    height: 450px;
}

h2 {
     font-family: Sriracha;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff
}

 .bg-color {
     
    margin-bottom: 20px;
    margin-top: 30px;
    background-color:#1ab3c7;
    width: 100%;
    
}

#right-text {
    padding-top: 30px;
    width: 50%;
    float: right;
}

#left-pic1 {
    padding-top: 30px;
    width: 50%;
    float: left;
}

#left-pic2 {
    padding-top: 30px;
    width: 50%;
    float: left;
}

.right-text-heading {
    float: left;
    line-height: 20px;
    clear: both;
    margin: 50px;
}

hr {
    border: 1px solid #1ab3c7;
}

#intro-heading {
    text-align: center;
    margin: 50px 0%;
    font-size: 200%;
}

.circle-border {
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
    padding: 30px;
    border: 1px solid #1ab3c7;
    border-radius: 50%;
    margin: 0 auto;
}

.circle-bg {
    /*background: url(https://previews.123rf.com/images/vadymvdrobot/vadymvdrobot1509/vadymvdrobot150900426/45024742-portrait-of-a-happy-fitness-man-standing-with-arms-folded-at-gym-and-looking-at-camera.jpg) no-repeat right center; */
    height: 100%;
    border-radius: 50%
}

/*-----------------------------------------------------------picture with locations*/

#dates {
    background: url(https://d1s9j44aio5gjs.cloudfront.net/2015/12/Core_Skills_For_Swimming_Learn_to_Swim.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

#dates div {
    font-family: Lato;
    color: #ffffff;
    background-color: rgba(0, 0, 0, .7);
    width: 33%;
    height: 225px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    margin: 2px;
}

/*--------------------------------------------------------------------footer - code institute*/

.row-footer {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    background-color: #000;
}

.card-details {
    color: #fff;
    font-size: 40px;
}

.card-details span {
    color: #8f8f8f;
    font-weight: 300;
}



social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    margin-top: 15px;
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social-links li a i:hover {
    background: #339FC2;

}




/*--------------------------------------------------------Our team proflies*/

#map-image {
   margin-top: 80px;
}

#map-container1 {
    margin-left: 50px;
    height: 350px;
    width: 400px;
    padding: 10px;
    border: 1px solid #1ab3c7;
    float: left;
}

.adress1 p {
    font-family: Lato;
    float: right;
    margin-right: 50px;
}


#map-container2 {
    margin-right: 50px;
    height: 350px;
    width: 400px;
    padding: 10px;
    border: 1px solid #1ab3c7;
    float: right;
}

.adress2 p {
    font-family: Lato;
    float: left;
    margin-left: 50px;
}

#map-container3 {
    height: 350px;
    width: 400px;
    padding: 10px;
    border: 1px solid #1ab3c7;
    margin: 0 auto;
    margin-top: 100px;
}

.adress3 p {
    font-family: Lato;
   text-align: center;
}

#coming-soon {
    margin-top: 55px;
    height: 100px;
    text-align: center;
}