@import url('https://fonts.googleapis.com/css?family=Sriracha:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700');

* {
    /*margin: 0;
    padding: 0;
    border: 0;*/
}

body {
    font-family: Lato;
    color: #5f5b5b;
}

h2{
    font-family: Sriracha;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#1ab3c7;
}

#logo {
    float:  left;
    font-size: 200%;
    margin: 10px 0 0 20px;
}

#nav {
    font-size: 100%;
    letter-spacing: 4px;
    list-style-type: none;   
}

#logo, #menu {
    line-height: 24px;
}

#nav li {
    float: right;
    margin: 10px 20px 0 0;
    
}

#nav a {
    text-decoration: none;
    color:#1ab3c7;
}

#nav a:hover {
    border-bottom: 1px solid #2a08ec;
}

.active {
  border-bottom: 1px solid #2a08ec;  
}

#site-header {
    box-shadow: 0px 10px 5px #27272780;
-webkit-box-shadow: 0px 10px 5px #27272780;
-moz-box-shadow: 0px 10px 5px #27272780;
position: relative;
z-index: 999999;}